DATABASE_URL=postgresql://user:pass@ep-xxx.region.aws.neon.tech/neondb?sslmode=require
PAYLOAD_SECRET=YOUR_SECRET_HERE

S3_BUCKET=beautiful-bangladesh-media
S3_ACCESS_KEY_ID=your-r2-access-key-id
S3_SECRET_ACCESS_KEY=your-r2-secret-access-key
S3_ENDPOINT=https://YOUR_ACCOUNT_ID.r2.cloudflarestorage.com
